  <extension
        point="org.knime.core.NodeFactoryClassMapper">
     <NodeFactoryClassMapper
           classMapper="de.openms.thirdparty.knime.OpenMSNodeFactoryClassMapper">
     </NodeFactoryClassMapper>
  </extension>